<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pellets-Meter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ngx-gauge
               [value]="data"
               [size]="gaugeSize"
               [label]="gaugeLabel"
               [append]="gaugeAppendText"
               [thick]="gaugleThick"
               cap="round"
               [markers]="markerConfig"
               [thresholds]="thresholdConfig"
    >
    </ngx-gauge>

  </div>
</ion-content>
